body {
  background: #000;
  color: #efefef;
}

#sun {
  width: 40vw;
  height: 40vw;
  background: rgba(3,13,45,1);
  background: radial-gradient(circle, rgba(239,239,239,1) 0%, rgba(3,13,45,1) 100%);
  position: absolute;
  border-left: 6px solid #efefef;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  left: 50%;
  border-radius: 50%;
}

#headline {
  width: 200px;
  height: 200px;
  border: 1px solid white;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  #sun {
    height: 275px;
    width: 275px;
  }
}
