body {
  background: #030d2d;
  color: #efefef;
}

#sun {
  width: 40vw;
  height: 40vw;
  background: rgb(149, 0, 255);
  background: linear-gradient(
    90deg,
    rgba(149, 0, 255, 0) 50%,
    rgb(0 149 255 / 50%) 66.6%,
    #ffa300 83.2%,
    rgb(255 0 153) 100%
  );
  position: absolute;
  border-left: 5px solid #efefef;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  left: 50%;
  border-radius: 50%;
}

#headline {
  width: 50%;
  /* border-top: 1px solid #ffffff; */
  /* border-bottom: 1px solid #ffffff; */
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(3, 13, 45, 1) 0%,
    rgba(239, 239, 239, 1) 50%,
    rgba(3, 13, 45, 1) 100%
  );
  border-image-slice: 50 0;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #030d2d;
}

@media only screen and (max-width: 600px) {
  #sun {
    height: 360px;
    width: 360px;
  }
  #headline {
    width: 100%;
  }
}
